@mixin field_resets {
    border:none;
    padding:1rem .8rem;
    background:$light-hue;
    border-radius:.5rem;
    outline:none;
    font-size:.95rem;
}
.lessons__filterWrapper input {
    @include field_resets;
    flex:.8;
}
.lessons__filterWrapper select {
    @include field_resets;
    flex:.12;
}
.lessons__filterWrapper{
    width: 100%;
    margin:2rem auto;
    @include flexbox(space-between, center);
}
.lesson__section {
    color:$secondary-color;
    font-size:black;
}
.lesson__sectionHeader{
    margin-top:1.4rem;
    margin-bottom: .2rem;
}
.lessons__wrapper {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:1rem;
}

@media screen and (max-width:850px) {
    .lessons__wrapper{
        display:block;
    }
}